.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#component1{
  display:flex;
  width:100%;
  height:60vw;
  background-color:lightgray;
}
#image{
  width:100%;
  height:23vw;

}

#component2{

  width:30%;
  height:50vw;
  margin-left:1.5%;
  margin-top:4%;
  background-color:white;
}
#component3{
 
  width:30%;
  height:50vw;
  margin-left:3.5%;
  margin-top:4%;
  background-color:white;


}
#component4{
  
  width:30%;
  height:50vw;
  margin-left:3.5%;
  margin-top:4%;
  background-color:white;


}
.check{
  font-size:2vw;
  font-weight:normal;
  padding-top:2vw;
}
p{
  text-align:center;
  color:lightslategray;
  font-size:1.4vw;
  padding:2%;
}
#btn{
  background-color:white;
  color:green;
  border:2px solid green;
  border-radius:6px;
  height:3vw;
  width:10vw;
  font-size:1.5vw;
}

